<%= stylesheet_link_tag 'common.css' %>
<footer>
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Important Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About Us</a></li>
        <li><a href="/#whyus">Why Us</a></li>
        <li><a target="_blank" href="https://forms.gle/34jkCqYinzWipfYRA">Apply</a></li>
        <li><a target="_blank" href="https://forms.gle/Va88FRzw5HGeCZb1A">Appeal</a></li>
        <li><a target="_blank" href="https://docs.google.com/forms/d/1iUvTXMmh9VPMXT6SExhT40JUNQlNwnLOjrmElW_4Pyw">Appeal Marketplace</a></li>
        <li><a target="_blank" href="https://discord.gg/program">Join Us</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Linking</h2>
      <ul>
        <li>
          <a target="_blank" href="https://discord.com/users/661717104914858038"
          >Nick2020 : Founder</a
          >
        </li>
        <li>
          Harry : Full Stack Developer
        </li>
        <li>
          Penguin : Logo Designer
        </li>
        <li>
          _________________________ <br>
          <b>Check out!</b>
        </li>
        <li>
          <br>
          <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=975445094343782500&permissions=535528078785&scope=bot%20applications.commands"
          >Weather bot: Track your weather!</a
          >
        </li>
        <li>
          <a target="_blank" href="https://pycord.dev/"
          >Pycord : New Discord.py!</a
          >
        </li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Join our community.</p>
      <a target="_blank" href="https://discord.gg/program" class="j">JOIN</a>
    </div>
  </section>
  <section class="ft-social">
    <ul class="ft-social-list">
      <li>
        <a target="_blank" href="https://github.com/World-of-Coding">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://discord.gg/program">
          <i class="fab fa-discord"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.reddit.com/r/code/hot/">
          <i class="fab fa-reddit"></i>
        </a>
      </li>
    </ul>
  </section>
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li id="man"></li>
    </ul>
  </section>
</footer>