<%= stylesheet_link_tag 'common.css' %>
<nav>
  <div class="content">
    <div class="logo">
      <a href="/">&lt;/WoC&gt;</a>
    </div>
    <div class="icon menu-btn">&#9776;</div>
    <ul class="menu-list">
      <div class="icon close-btn">&times;</div>
      <div class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a  href="/apply">Staff Application</a></li>
        <li><a  href="/appeal">Ban Appeal</a></li>
        <li><a  href="/bma-appeal">Appeal Marketplace</a></li>
        <li><a  href="/knowledge-role-application">Knowledge role application</a></li>
        <!--<li><a target="_blank" href="">Staff review</a></li>-->
      </div>
      <div class="socials">
        <a target="_blank" href="https://github.com/World-of-Coding" target="_blank">
          <i class="fab fa-github"></i>

        </a>
        <a target="_blank" href="https://discord.gg/program" target="_blank">
          <i class="fab fa-discord"></i>
        </a>
        <a target="_blank" href="https://www.reddit.com/r/code/hot/" target="_blank">
          <i class="fab fa-reddit"></i>
        </a>
        <a target="_blank" href="/weather">
          <i class="fa fa-cloud"></i>
        </a>
      </div>
    </ul>
  </div>
</nav>