<link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" />
<%= favicon_link_tag 'favicon.ico' %>
<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>&lt;/WoC&gt;</title>
<meta name="description" content="World of Coding is a discord server for coders, people who are looking to code and just want to hang out!" />
<meta name="keywords" content="Coding,Discord,World Of Coding,Multifunctional,Javascript,Help" />
<meta property="og:title" content="World Of Coding" />
<meta property="og:url" content="http://world-of-coding.glitch.me/" />
<meta property="og:description" content="World of Coding is a discord server for coders, people who are looking to code and just want to hang out!" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="World Of Coding" />
<meta property="og:image" content="https://cdn.glitch.com/9bfe1217-bc5d-41b7-9c63-7311b34e8874%2Flogo.jpg?v=1588739620315ni" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DBDCZFWXT6' );
    gtag('config', 'G-LKF1DVXV56' );
</script>