@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root {
    --main-theme: #1E1E24;
    --secondary-theme: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background: var(--main-theme);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    text-align: center;
    position: relative;
    color: var(--secondary-theme);
}

.wrap h1 {
    font-size: 10em;
}

.wrap p {
    margin: 20px 0;
}

.wrap a {
    width: 220px;
    height: 220px;
    padding: 10px 20px;
    border: 2px solid var(--secondary-theme);
    color: var(--secondary-theme);
    text-decoration: none;
}

.wrap a:hover {
    outline: 2px solid var(--secondary-theme);
    border: none;
    outline-offset: 2px;
    background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 598px),(max-height: 868px) {
    .responsive404 {
        width: 300px;
        height: 400;
    }
}

@media screen and (max-width: 598px),(max-height: 868px) {
    .wrap a {
        padding: 5px 10px;
        border: 2px solid var(--secondary-theme);
    }
}

@media screen and (max-width: 1000px),(max-height: 1000px) {
    .wrap h1 {
        font-size: 12em;
    }
    .wrap p {

        font-size: 30px;
    }
}

@media screen and (max-height: 800px) {
    header {
        padding: 10%;
        height: auto;
    }
}