@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
:root {
    --main-theme: #1e1e24;
    --secondary-theme: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    user-select: none;
}

html {
    background: var(--main-theme);
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--main-theme);
    overflow: hidden;
    position: relative;
    background-position: fixed;
}

nav {
    width: 100%;
    background: var(--main-theme);
    padding: 10px 0;
    z-index: 69;
    position: fixed;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}


.logo a {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: 900;
}

.icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--secondary-theme);
}

.menu-list {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: inline-flex;
}

.list li {
    padding: 0 20px;
    list-style: none;
}

.list li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.list li a:hover {
    color: #00ffff;
}

.socials a {
    color: var(--secondary-theme);
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    padding: 0 20px;
}

@media screen and (max-width: 1100px) {
    .icon {
        display: block;
    }
    .menu-list {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        max-width: 400px;
        top: 0;
        right: -100%;
        position: fixed;
        background: var(--main-theme);
        transition: all 0.5s ease;
        z-index: 3;
    }
    .list {
        display: grid;
        grid-gap: 80px;
        text-align: center;
    }
    .close-btn {
        position: absolute;
        top: 5px;
        right: 30px;
    }
}

@media screen and (max-width: 700px), (max-height: 500px){
    .list {
        grid-gap: 1px;
    }
}

@media screen and (max-width: 430px) {
    .logo a {
        font-size: 1.2em;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #121212;
    color: var(--secondary-theme);
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.container {
    flex: 1;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 77.5rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.j {
    width: 120px;
    height: 40px;
    border: 2px solid var(--secondary-theme);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.j:hover {
    outline: 2px solid var(--secondary-theme);
    outline-offset: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

ul li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background: var(--main-theme);
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: none;
    border: none;
    border-radius: 5px;
}

.weather {
    position: sticky;
    height: 250px;
    width: 250px;
    display: block;
    margin-bottom: 20px;
    margin-top: -310px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    box-shadow: 0 0 35px #243b63;
}


.text {
    color: white;
}

/*.text-list {
    color: white;
    margin-top: 50%;
}
 */

/* @media screen and (max-width: 1343px) {
    .text {
        margin-bottom: -960px;
        margin-left: -75%;
        text-align: center;
    }
    .wrapu {
        margin-bottom: 80px;
        margin-left: 36%;

    }
    .weather{
        margin-top: -350px;
    }
    footer {
        margin-top: 25%;
    }
} */

@media screen and (max-width: 1081px) {
    .text {
        font-size: 20px;
        margin-left: -69%;
        margin-bottom: -1100px;
        text-align: center;

    }
    .wrapu{
        margin-bottom: 250px;
        margin-top: 10px;
        margin-left: 38%;

    }
    .weather {
        margin-top: -255px;
    }
    footer {
        margin-top: 65%;
    }
}

@media screen and (max-width: 724px) {
    .text {
        font-size: 12.5px;
        margin-left: -85%;
        margin-top: 30%;
    }
    .wrapu{

        margin-bottom: 120px;
        margin-left: 21.5%;
    }
    .weather{
        margin-top: -250px;
    }
    footer {
        margin-top: 105%;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
:root {
    --main-theme: #1e1e24;
    --secondary-theme: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.formDiv {
    width: 100%;
    height: 100vh;
    background: var(--main-theme);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapu {
    text-align: center;
    color: var(--secondary-theme);
    position: relative;
    margin-right: 7.5%;
}

.formGroup {
    display: grid;
    text-align: left;
}

.formGroup input,
.formGroup textarea {
    margin: 15px 0;
    order: none;
    outline: none;
    padding: 10px;
}

.formGroup textarea {
    width: auto;
    height: 70px;
    resize: none;
}

.wrapu h1 {
    font-size: 4em;
    word-spacing: 5px;
}

@media screen and (max-width: 446px) {
    .wrapu h1 {
        font-size: 2em;
        word-spacing: 0px;
    }
    .weather {
        margin-top: -175px;
        height: 125;
        width: 125;
    }
}

hr {
    margin: 20px 0;
}

#btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--secondary-theme);
    text-decoration: none;
}

#btn:hover {
    border: none;
    outline: 2px solid var(--secondary-theme);
    outline-offset: 2px;
}

.responsive {
    width: 100%;
    margin: auto;
    border: none;
    padding-top: 100%;
    position: relative;
}
.responsive iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.responsive a {
    margin-bottom: 50px;
    width: 220px;
    height: 220px;
    padding: 10px 30px;
    border: 2px solid var(--secondary-theme);
    color: var(--secondary-theme);
    text-decoration: none;
}

.buttontospp {
    margin-top: 50px;
}

.aweathertos {
    margin-right: 15%;
}

.buttontospp a {
    margin-bottom: 50px;
    width: 220px;
    height: 220px;
    padding: 10px 30px;
    border: 2px solid var(--secondary-theme);
    color: var(--secondary-theme);
    text-decoration: none;
}


@media screen and (max-height: 900px) {
    .formDiv {
        padding: 10%;
        height: auto;
    }
}